.app {
  display: flex;
  z-index: 0;

  .container {
    flex: 1 0 auto;
    z-index: 1;
  }

  .main {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    width: 100%;
    max-height: calc(100% - #{$navbar-height});
  }
}

.text-danger {
  color: rgb(220, 53, 69);
  font-size: 80%;
}