.button {
  @include font-size(16px);
  border: none;
  outline: none;
  padding: $spacing-small;
  border-radius: 8px;
  background-color: $primary-color;
  color: $white-color;
  font-weight: $font-bold;
  width: max-content;

  &-small {
    padding: $spacing-tiny $spacing-small;
    border-radius: 4px;
  }

  &-medium {
    padding: $spacing-small;
  }

  &-large {
    padding: $spacing-small $spacing-xxlarge;
    border-radius: 0px; 
  }

  &-inline {
    @include font-size(14px);
    font-weight: $font-bold;
    color: $primary-color;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;

    &:hover {
      background-color: transparent;
      border: none;
      color: rgba($primary-color, 0.65);
    }
  }
}