.input {
  display: flex;
  flex-direction: column;

  &-area {
    border: 1px solid $border-color;
    border-radius: 6px;
    width: 100%;
    padding: $spacing-tiny $spacing-small $spacing-tiny 0px;
    display: flex;
    
    &-icon {
      margin: 0 $spacing-tiny;
      
      &-hidden {
        padding: $spacing-tiny $spacing-small;
      }
    }

    input {
      border: none;
      outline:none;
      padding: 0;
      height: 20px;
      width: 100%;
    }
  }

  &-description {
    margin-bottom: calc(#{$spacing-tiny} / 2);
  }
}
