.create-event {
  & > label {
    margin-bottom: $spacing-tiny;
  }

  & > div {
    margin-top: $spacing-tiny;
  }

  &-date, &-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & > p {
      margin: 0 $spacing-small;
    }
  }

  &-date {
    .input-date {
      width: 200px;
    }
  }

  &-time {
    .input-time {
      width: 200px;
    }
  }
}


.create-todo {
  &-date {
    margin-right: $spacing-base;
  }

  &-dropzone {
    border: 3px dashed $border-color;
    padding: $spacing-small;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
  }
}