.create-column-order {
  &-columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: $spacing-tiny;

    & > ul {
      flex-basis: 50%;

      & > li {
        margin-bottom: $spacing-tiny;
      }
    }

  }

  &-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-options {
    margin-right: $spacing-small;
  }


  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-small;
  }

  &-drag {
    .draggable {
      border-radius: 20px;
      padding: $spacing-tiny $spacing-large;
      display: flex;
      justify-content: center;
      align-items: center;
      
      &-option {
        background-color: $primary-color;
        border: 2px solid $primary-color;

        & > input {
          color: $white-color;
          
          &:focus {
            border-bottom: 1px solid $white-color;
          }
        }
      }

      &-dragged {
        &-option {
          background-color: $white-color;
          
          & > input {
            color: $primary-color;
          }
        }
      }
    
      
      input {
        border: none;
        outline: none;
        font-weight: 900;
        text-align: center;
        padding-bottom: calc(#{$spacing-tiny}/2);
        background-color: transparent;
      }
    }
  }
}

.create-likert {
  & > label {
    margin-bottom: $spacing-small;
  }

  &-chart {
    display: flex;
    padding: $spacing-small 0;
    justify-content: space-between;
    align-items: flex-end;

    &-input {
      width: 150px;
    }

    &-number {
      align-self: center;
    }
  }

  .default-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  &-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > .typography-subtitle {
      margin-bottom: $spacing-tiny;
    } 

    &-1 {
      background-color: rgba($neutral-m-color, 0.1)
    }

    &-2 {
      background-color: rgba($neutral-m-color, 0.2)
    }

    &-3 {
      background-color: rgba($neutral-m-color, 0.3)
    }

    &-4 {
      background-color: rgba($neutral-m-color, 0.4)
    }

    &-5 {
      background-color: rgba($neutral-m-color, 0.5)
    }

    &-6 {
      background-color: rgba($neutral-m-color, 0.6)
    }

    &-7 {
      background-color: rgba($neutral-m-color, 0.7)
    }

    &-8 {
      background-color: rgba($neutral-m-color, 0.8)
    }

    &-9 {
      background-color: rgba($neutral-m-color, 0.9)
    }

    &-10 {
      background-color: rgba($neutral-m-color, 1)
    }
  }
}