// base file for all content-cards

.content-card {
  margin-bottom: $spacing-base;
  width: 100%;
  flex-grow: 0;
  box-shadow: 0 2px 6px rgba($neutral-l-color,1);

  &-pinned {
    transform: scale(1.02);
    box-shadow: 0 2px 6px rgba($neutral-d-color, 0.2);

    &-button {
      padding: calc(#{$spacing-tiny} / 2) $spacing-tiny;
      border-radius: 8px;
      display: flex;
      color: $white-color;
      background-color: $primary-color;

      &:hover {
        color: $white-color;
      }
    }
  }

  &-line {
    padding: 0 $spacing-small;
  }

  &-title {
    padding: $spacing-small $spacing-small 0 $spacing-small;
    margin-bottom: $spacing-tiny;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h5 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex: 1;
    }
  }

  &-reacts {
    display: flex;
    padding: 0 $spacing-small $spacing-small $spacing-small;
  }

  &-react {
    position: relative;
    margin-right: calc(#{$spacing-tiny} / 2);
    
    &:hover:enabled {
      transform: scale(1.2);
      transform-origin: bottom;
      margin: 0 $spacing-tiny;
    }

    &:first-child:hover:enabled {
      margin: 0 $spacing-tiny 0 0;
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    & > button:first-child {
      margin-right: $spacing-small;
    }
  }

  &-dropdown {
    position: relative;
  }

  .content-text {
    &-description {
      width: 100%;
      padding: $spacing-small;
      line-height: 20px;
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .content-generic {
    padding: $spacing-base $spacing-large $spacing-base $spacing-large;
    margin: $spacing-small 0;
    box-shadow: inset 0px 8px 8px -10px rgba($neutral-m-color, 0.3), inset 0px -8px 8px -10px rgba($neutral-m-color, 0.3);

    &-title {
      margin-bottom: $spacing-tiny;
    }

    &-textarea {
      margin: $spacing-small 0;
    }
  }
}